.info {
  display: flex;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  margin: 12px;
  flex-direction: column;
  flex-grow: 1;
  width: 12%;
}

.info h3 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 5px;
  margin-top: 20px;
}

.info p {
  text-align: center;
  padding-right: 15px;
}
